[2021-07-13 17:06] #482 closed

[2021-07-16 08:58] jackmatrix opened #573 "How to stop all cron jobs?"
I was testing `cron` for node-js several month ago and I created some jobs. However, since then, these jobs execute everyday (since several months) and I cannot stop it.

I read the docs but I cannot figure out how to stop it. I've tried to execute :

[code]

Without success.

Any recommendation ?

[2021-07-16 14:28] frbuceta commented on #573
Add all crons to an array and then loop through the array by calling job.stop()

[code]

[2021-07-16 14:30] frbuceta opened #574 "[BUG] Setting runOnInit executes onTick with false start"
OnTick is running when runOnTick is true and start is false.

Any solution to this problem?

[2021-07-21 16:31] DMFredrick opened #575 "Javascript error in Fing"
![javascript error in Fing](https://user-images.githubusercontent.com/87773795/126525336-67a3b473-0a02-412b-aff1-865e65e6ec26.JPG)

[2021-07-22 08:32] jackmatrix commented on #573
Thank you. Your solution worked very well.

Issue solved.

[2021-07-22 08:32] #573 closed

[2021-07-23 11:30] soubhikchatterjee opened #576 "How to run cron every minute"
I am using the following code to run a cronjob every minute, I copied the corn expression from https://crontab.cronhub.io/ but it does not seem to console.log() every 1 minute.

[code]

[2021-08-01 14:06] NiekBeijloos commented on #426
What is the status of this feature? I noticed throwing an exception from the callback function given to **cron.schedule** will not terminate the overall process, but it just keeps executing. Does the node cron module apply a try catch under the hood or how can this behavior be explained?

[2021-08-01 15:37] alfanhui commented on #576
Try this expression: "0 */1 * * * *". This adds an extra astrisk and the initial 0 states which part (second) of the minute to run: 1:00.. 2:00, 3:00..

[2021-08-05 15:52] soorur commented on #180
@thekennysong did the lodash workaround fix the situation for you?
Happened to us in production as well - running on a single instance and does not happen all the time.

Cron job is initialized once when service is registered

Timestamps:
1: 2021-08-05T15:00:07.752193632Z
2: 2021-08-05T15:00:07.951931042Z

[2021-08-06 22:22] thekennysong commented on #180
@soorur it turned out it wasn't the library but that I had 2 dynos running for Express app. Didn't cross my mind that it would trigger 2 cron jobs haha. Regardless I did wrap my cron job in a lodash throttle just to be extra safe.

[2021-08-08 22:22] abrar71 commented on #232
I can also confirm the issue still exists

[2021-08-10 03:23] hehejiuhuizhe commented on #571
In the doc you can see:
Months: 0-11 (Jan-Dec)

So 6 means July.

[2021-08-12 11:47] alex-uw opened #577 "Can CronJob instance be garbage collected?"
I have a long running backend server process (can be running for days and weeks)

In one file I have this function which initialises cron job

[code]

from another place I call cronInit() once on server startup

After some time after server started (few days) - cron stops working - is this because instance of CronJob is a local variable and it's getting cleared by GC?

[2021-08-17 00:22] iambumblehead opened #578 "is this project still active?"
There are many open issues and several outstanding PRs. The last change was committed May 26, 2000, ~15 months ago. Is this project still active?

[2021-08-17 20:23] suntong commented on #569
same here.

Error: Something went wrong. cron reached maximum iterations.
                                                Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string
                                                Time Zone: "" - Cron String: 0 0 10 * * 1,2,3,4,5 - UTC offset: +08:00 - current Date: Sun Jul 25 2021 23:27:59 GMT-0400

[c

[2021-08-17 20:32] suntong opened #579 "Error: cron reached maximum iterations -- please stop reporting this bug"
**Stop!**

Most people comes here when they saw the error of
`Error: Something went wrong. cron reached maximum iterations.`

And the ask of

But if you do a search,
https://github.com/kelektiv/node-cron/issues?page=2&q=cron+reached+maximum+iterations
you'll find that the one opened on Feb 11, 2020 by shivam-postman is still unanswered.

So don't waste your effort -- I found this out only after I

[2021-08-17 20:35] suntong commented on #578
Yep, that's the exact reason I start to warn people

in my new issue #579

[2021-08-17 20:53] ncb000gt commented on #578
Hey, thanks for the question.

Honestly, for a variety of reasons, I haven't had time to do much in the way of fixes and checking PRs regardless of how much I want to and it's been that way for far too long.

What this project really needs is more maintainers. If anyone is interested in helping maintain the project I'm open to chatting more.

I'm also open to a number of changes to the project tha

[2021-08-24 10:52] alex-uw opened #580 "Cron instance becomes running = false after some time"
I have a long running process with cron job

[code]

After some time job.running becomes false. Not sure why, I do not call stop()..

I see there is `self.running = false;` ([source](https://github.com/kelektiv/node-cron/blob/9a5172661be362af2871b1c013f126775fbab808/lib/job.js#L167))

![image](https://user-images.githubusercontent.com/80477812/130604066-b1fbbf09-f7e2-4175-9849-4649416f78f7.png)

W

[2021-08-25 12:39] t0lik commented on #494
It would be great to support nth Suday of a month with `#n` notation. Also I failed to use 7 as Sunday you support only 0 as Sunday meanwhile https://crontab.guru/ supports 0 and 7 as Sunday.

[2021-08-27 19:57] mahyarmirrashed opened #581 "Issue templates"
Issue templates for bugs and features would be really useful for future issues.

[2021-08-27 19:59] mahyarmirrashed opened #582 "Builder for Cron job strings"
If we could have something to discordjs/builders for slash commands, that would be great!

It would make creating the cron jobs less cryptic (e.g. '0 0 * * MON').

[2021-08-28 14:00] suntong commented on #578
I guess, as the starting point, there are many pending issues that need to be fixed.

[2021-08-28 18:14] mahyarmirrashed commented on #578
But like, are there any formal responsibilities? There may be times where work or school gets too much.

[2021-08-29 01:53] suntong commented on #578
O~~h, if that's the only concern that you have, then don't worry at all.

People having a normal life outside maintaining the open source project is _just the norm_, like this project for e.g.,  #579, the first issue was opened on Feb 11, 2020 -- you have 2.5+ years to fix an issue, :) :)

[2021-08-29 12:30] mahyarmirrashed commented on #578
Damn lol, that is a long time. if there are other's on board that would be open to helping me as well, I would be open to it!

[2021-09-01 14:22] azamsolix commented on #363
Hi Nick Cambell,
I am also facing same issue.I also want to stop specify job and i don't know how to?
Could you please help me with some sample code @ncb000gt
Thanks and regards
Azam

[2021-09-02 05:18] ChrisvanChip commented on #232
Just experienced this issue, still needed to fix.

[2021-09-12 12:06] ErrolFernandes commented on #581
Can I  work on this?

[2021-09-12 13:40] mahyarmirrashed commented on #581
Go ahead!

[2021-09-12 16:00] ErrolFernandes commented on #581
I've submitted a PR,please check.

[2021-09-12 20:03] #581 closed

[2021-09-19 17:50] kaungyeehein commented on #540
Dear @jomapps
If you run every 10 minutes. Your cron expression is wrong. It should be `*/10 * * * *`
Check at https://crontab.guru/every-10-minutes

[2021-09-24 10:10] newmizanur commented on #232
Getting same issue, no error but not running for few hours. Deleted node_modules and reinstalled, no luck! 😕

[2021-10-01 20:40] Sir-hennihau commented on #232
Another one to confirm this exists.

I thought my server had a memory leak and I was investigating why it crashed. Took me weeks to fix. In the end I replaced node-cron and all my problems disappeared. Sorry to say that, but that's a really bad bug, especially if no error is thrown when the server crashes.

[2021-10-08 18:41] Hexagon commented on #578
Not saying i'm not biased :)

But give [github.com/hexagon/croner](github.com/hexagon/croner) a try.

It's active (I'm looking for bugs to fix), compatible all the way from Node 8 to ES-browser-module implementation, has TS definitions etc.

Fiddle [https://jsfiddle.net/7n15m8f4/](https://jsfiddle.net/7n15m8f4/)

[2021-10-19 12:28] franky-continu opened #585 "Cron jobs stop working (Can an error inside the time function result in job stopping?)"
### Description

Guys for some time now, about 3 weeks we have been experiencing cron job stopping. We can't identify and there is talks to move away from this library.

I'm sure this is an easy thing, this library has been the most robust one ever.

I coded our scheduler with it and it served us for 6 years. I'm not in the issue right now, but I want to collaborate.

We have a package declaration

[2021-10-20 14:57] albertosantini commented on #585
@franky-continu Try "1 */1 * * * *".
Zero second randomly seems problematic.

@Hexagon Thakns for the suggestion. I will give a try.

[2021-10-20 20:25] franky-continu commented on #585
Thank you so much for the responses.

Sorry, what is the difference between Zero and 1 in terms of randomly. I'm setting to call notifications on the 0 second of every minute. Perhaps put *. but We usually set it on the dot (as in zero 0).

I'm not sure I follow the `it being` random thing.

[2021-11-06 10:53] DhiaDjobbi opened #586 "How can I run a cron Only once at an exact DateTime?"
### Description

Hello,
I want to run a cronjob **ONLY ONE TIME** at a very specific time which is :
`let runAt= new Date(new Date().setHours(new Date().getHours() + 2));`
`runAt` is `Date('now')` + 2 hours.
I want to run my cronjob only one time at `runAt` and then I stop/kill the cron!
How can I achieve that?

### Screenshots

_No response_

### Additional information

_No response_

[2021-11-06 18:24] Hexagon commented on #586
It would be possible using https://github.com/hexagon/croner, by supplying correct hour and minute to pattern, and using option maxRuns:1.

But as you request a very specific point in time (now + 2 hours), and only once, wouldnt the simplest solution be something like

[code]

This will run the code exactly 2 hours from now

[2021-11-10 18:39] AntoninoBonanno opened #587 "Cron job every five months, nextDates not calculated correctly"
### Description

Hi
I'm trying to run a cron every 5 months at 10 am. But the nextdate is not calculated correctly.

[code]

Output:
Now: 2021-11-10T18:33:56.415Z
nextDates:  2022-01-01T09:00:00.000Z

I expect the nextDates is: 2022-04-01T09:00:00.000Z

My tests:
`* 0 10 1 */1 *` -> (nextDates:  2021-12-01T09:00:00.000Z)

`* 0 10 1 */2 *` -> (nextDates:  2022-01-01T09:00:00.000Z)

`* 0 10 1 */3 *`

[2021-11-12 22:08] cbax525 opened #588 "errror"
![fing](https://user-images.githubusercontent.com/76655735/141540410-64b634bf-54b7-43a2-ac24-80e93057d360.JPG)

[2021-11-13 12:41] Jiteshchoudhary commented on #283
ok

[2021-11-17 13:57] soltoshi-coin commented on #578
You should add a hint to the main page that this project is currently unmainted. Saves a lot of time for most people, this is as unusable as it gets atm. with all the bugs.

[2021-11-17 14:10] ncb000gt commented on #578
I'm happy to add other maintainers to the project. Clearly I haven't had enough time to maintain this project with everything else going on.

There are a few options as I see them:
* Other people step in and become direct contributors helping to review and land PRs and shape the direction of the project **best case**
* Pick from the plethora of other cron libraries for node out there.

I have alwa

[2021-11-22 16:03] koldoon commented on #408
Still getting this error. Ticket should be re-opened

[2021-11-24 18:28] chriskinsman opened #589 "move from moment to dayjs"
### ⭐ Suggestion

Move from moment to dayjs

Willing to submit a pull request however if @ncb000gt isn't interested in merging then don't want to waste the time.  Thanks!

### 💻 Use Cases

Looking to reduce size of overall package and moment is pretty large.

### ❌ Related Problems

_No response_

[2021-11-26 11:26] LucCADORET commented on #232
I think I experienced this bug today also. Hard to know since I couldn't set a breakpoint and debug, but everything matches: 1 second cron job, no error thrown.

[2021-12-02 12:40] iamkhalidbashir commented on #232
Same problem for mere on AWS tiny instances with low cpu and ram

[2021-12-07 03:49] moeik opened #590 "start log"
[code]

[2021-12-07 22:49] tayler-king opened #591 "Something went wrong. cron reached maximum iterations."
Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string

[code]

[2021-12-28 08:22] mohammad-babaei commented on #452
I have the same requirement (to store the object to access it later to stop the cronjob) and i don't have access to your twitter DMs.
Could you help me with this

[2022-01-04 16:01] adamkdean commented on #408
Experienced this issue with v1.8.2:

`Time Zone: "" - Cron String: 0 * * * * * - UTC offset: +00:00 - current Date: Mon Dec 20 2021 18:10:35 GMT+0000`

[2022-01-05 09:34] lukaso opened #592 "Javascript crash"
Fing app on macOS Monterey crashed with the following:

Uncaught Exception:
Error: Something went wrong. cron reached maximum iterations.
Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string
Time Zone: "" - Cron String: 0 0 9 * * * - UTC offset: +00:00 - current Date: Wed Jan 05 2022 09:24:52 GMT+0000
at CronTime._getNextDateFrom (/Applications/

[2022-01-10 02:54] amrshakya commented on #408
node-cron version: ``v1..8.2``

``Error: Something went wrong. cron reached maximum iterations.
						Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string
						Time Zone: "" - Cron String: 0 30 8 * * 1 - UTC offset: +08:00 - current Date: Mon Jan 10 2022 00:42:09 GMT+0000
``

Has there been any fix to this error lately?

[2022-01-10 03:07] mryellow commented on #408
The fix is dropping this library. There is a part which needs big refactor and no one working on it.

[2022-01-10 03:08] mryellow commented on #591
#408

No one is doing anything about this critical fault.

[2022-01-10 03:09] mryellow commented on #587
#408

It's broken and no one is fixing it. Time to move on to another lib.

[2022-01-10 03:12] mryellow commented on #579
They're all good as closed mate, no one is working on this turd.

The library is dead. It doesn't work and has gibberish all through `_getNextDateFrom`.

[2022-01-10 03:13] mryellow commented on #578
No. It has critical faults and no one is publishing fixes.

[2022-01-10 03:16] ncb000gt commented on #578
@mryellow I shared that I am looking for help with the project. I'd be happy to look at a pr.

Thanks!

[2022-01-10 03:27] mryellow commented on #578
Problem is it's just such a big refactor for some of those functions, they essentially need deleting and starting again.

So without an active maintainer, it's easier to just move on.

[2022-01-10 04:57] iambumblehead commented on #578
In practice, there are still several un-acknowledged PRs

[2022-01-20 13:51] saito-kosuke opened #593 "Cron at specific time is not working"
### Description

Cron at specific time like below is not working
`@Cron("48 21 20 1 *")`
and
[code]

### Screenshots

_No response_

### Additional information

Minimum reproduction code
https://gist.github.com/saito-kosuke/d34e4f25f6d32cb3ab40518c3ac3b1f2

[2022-01-23 14:26] RaiahMohamedAmine opened #594 "Cron at a specific date not working"
### Description

Heey, so am trying to schedule a job at a specefic date, so am passing the date which is of type JS Date, but the job is triggered immediately.

You can see what am doing down here.

### Screenshots

![Capture2](https://user-images.githubusercontent.com/45490821/150683209-22dfd4f8-a28d-4bda-ab7f-4fc1750692d4.PNG)

### Additional information

_No response_

[2022-01-24 03:13] tgt87 commented on #408
Having the same issue with v1.8.2 as well:

[code]

[2022-01-25 17:44] braniqvranik opened #595 "Cloudron keeps restarting periodically and frequently"
2022-01-25T17:19:38.106Z box:server ==========================================
2022-01-25T17:19:38.112Z box:server            Cloudron 7.0.4
2022-01-25T17:19:38.112Z box:server ==========================================
2022-01-25T17:19:38.241Z box:settings initCache: pre-load settings
2022-01-25T17:19:38.279Z box:tasks stopAllTasks: stopping all tasks
2022-01-25T17:19:38.280Z box:shell stopTask s

[2022-01-28 21:23] MistyCat42 opened #596 "Fing Javascript error"
![image](https://user-images.githubusercontent.com/37730443/151623269-7163a7f6-2d13-4782-bff9-92474ce55a3b.png)

[2022-02-02 10:25] Jokurale commented on #408
Hi there, issue still here on version 1.8.2. I can see the fresh one is 3.0.0. Will update solve this one particular occurrence related to moment-timezone lib?

[2022-02-03 13:47] Verisana commented on #232
Experiencing the same issue

[2022-02-03 19:09] bhaskarb360 opened #597 "Cron expression at 12 am Asia/Kolkata doesn't trigger cronJob expression "0 0 0 * * *""
### Description

When I deployed to azure servers and running on 3rd Feb 2022 if I set 12 am cron expression "0 0 0 * * *" should trigger on 4th Feb 2022 doesn't triggers.

[code]

While if change or use any other expression like "0 36 0 * * *" triggers right way at the right time is being set with the timezone.

What could be the issue?

### Screenshots

Doesn't trigger cronJob at 12am
![image](h

[2022-02-04 22:25] Hexagon commented on #587
Check out [github.com/hexagon/croner](https://github.com/hexagon/croner) for a great alternative, pay special attention to the section "Why another JavaScript cron implementation?"

[2022-02-04 22:26] Hexagon commented on #593
Check out [github.com/hexagon/croner](https://github.com/hexagon/croner) for a great alternative, pay special attention to the "Why another JavaScript cron implementation?"

[2022-02-04 22:29] Hexagon commented on #597
Check out [github.com/hexagon/croner](https://github.com/hexagon/croner) for a great alternative, pay special attention to the "Why another JavaScript cron implementation?"

[2022-02-05 09:07] anogray commented on #597
Does croner allows to add timezone apart from Europe ?
Also can we use Momentjs values ?

[2022-02-06 09:59] Hexagon commented on #597
Yes, croner supporta all time zones.

And if you refer to using a Date as cron pattern to run a one-off job, that will soon be supported. Croner use ISO 8601 local time strings for all string input, which can be generated by moment using `dateObj.format()`.

[2022-02-10 16:10] TaccolaA opened #598 "[BUG] setTime() starts the job even if the job was stopped"
### ⭐ Suggestion

In 1.8.2, cronjob.setTime() stops the job and change the time but doesn't automatically starts the job back.
It would be nice to start it automatically, maybe checking first if it was running before.

### 💻 Use Cases

We sometimes want to change the cron expression of a running job. We have to call start() again which is a bit counter intuitive.

### ❌ Related Problems

On master

[2022-02-11 16:59] tibfox commented on #489
I transfer funds with this cron job and I have to find a solution for it or I have to change my execution strategy to something wilder than this package. @vikram1992 how can I run it in "fork mode"?

[2022-02-15 09:16] AntoninoBonanno commented on #587
Migrated to [github.com/hexagon/croner](https://github.com/Hexagon/croner)

but i have the same problem [https://github.com/Hexagon/croner/issues/52](https://github.com/Hexagon/croner/issues/52)

[2022-02-15 09:16] #587 closed

[2022-02-16 05:39] kingjaehyuk opened #599 "Error: Something went wrong. cron reached maximum iterations."
### Description
[code]

### Screenshots

_No response_

### Additional information
[code]

[2022-02-24 06:01] amrelshinawy1 commented on #599
this happened with me too any new updates

[2022-02-25 07:21] danieljoppi opened #600 "Something went wrong. cron reached maximum iterations."
Time Zone: "" - Cron String: * * * * * * - UTC offset: +00:00 - current Date: Fri Feb 25 2022 07:19:01 GMT+0000

[2022-02-28 18:00] DanielIchida commented on #296
Unknown alias: und

      65 |   addCronJob(name: string) {
      66 |     const time = `${process.env.SECONDS} ${process.env.MINUTES} ${process.env.HOURS} * * 2-5`;

         |                 ^
      68 |       async () => {
      69 |         this.service = null;
      70 |         this.logger.log(

      at ../node_modules/cron/lib/cron.js:413:11
          at String.replace (<anonymous>)

[2022-03-01 09:23] edfrutos opened #601 "A JavaScript error occurred in the main process - Uncaught Exception: Error: Something went wrong. cron reached maximum iterations."
Time Zone: "" - Cron String: 0 0 9 * * * - UTC offset: +01:00 - current Date: Tue Mar 01 2022 09:00:10 GMT+0100
at CronTime._getNextDateFrom (/Applications/Fing.app/Contents/Resources/app.asar/node_modules/cron/lib/cron.js:235:12)
at CronTime.sendAt (/Applications/Fing.app/Contents/Resources/app.asar/node_modules/cron/lib/cron.js:156:17)
at CronTime.getTimeout (/Applications/Fing.app/Contents/Reso

[2022-03-03 08:41] carlo23666 commented on #599
This lib has a loop protection, when collecting the data takes more than 5 seconds then cronjs will throw that error

[2022-03-03 08:45] carlo23666 commented on #600
https://github.com/kelektiv/node-cron/issues/599#issuecomment-1057806566

[2022-03-03 08:45] carlo23666 commented on #601
https://github.com/kelektiv/node-cron/issues/599#issuecomment-1057806566

[2022-03-03 08:46] carlo23666 commented on #591
https://github.com/kelektiv/node-cron/issues/599#issuecomment-1057806566

[2022-03-03 13:15] NayFreire opened #602 "Time Zone: "" - Cron String: 0 * * * * * - UTC offset: -03:00 - current Date: Thu Mar 03 2022 09:38:10 GMT-0300"
Error: Something went wrong. cron reached maximum iterations.
    at CronTime._getNextDateFrom (node_modules/cron/lib/cron.js:235:12)
    at CronTime.sendAt (node_modules/cron/lib/cron.js:156:17)
    at CronTime.getTimeout (node_modules/cron/lib/cron.js:175:29)
    at CronJob.start (node_modules/cron/lib/cron.js:613:31)
    at Timeout.callbackWrapper [as _onTimeout] (node_modules/cron/lib/cron.js:

[2022-03-08 06:40] dikiamust commented on #601
I have the same issue, and still can't find the answer

[2022-04-04 05:59] nibinkjose opened #603 "Error: Something went wrong. cron reached maximum iterations"
Time Zone: "" - Cron String: 0 * * * * * - UTC offset: +00:00 - current Date: Sat Apr 02 2022 16:41:33 GMT+0000
0|SSN      | 2022-04-02 16:42:08 +00:00:     at CronTime._getNextDateFrom (/home/ubuntu/ssn-api/node_modules/cron/lib/cron.js:235:12)
0|SSN      | 2022-04-02 16:42:08 +00:00:     at CronTime.sendAt (/home/ubuntu/ssn-api/node_modules/cron/lib/cron.js:156:17)
0|SSN      | 2022-04-02 16:42:

[2022-04-05 14:12] nibinkjose commented on #408
0|SSN      | 2022-04-05 11:09:44 +00:00: Error: Something went wrong. cron reached maximum iterations.
0|SSN      | 2022-04-05 11:09:44 +00:00:                                                Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string
0|SSN      | 2022-04-05 11:09:44 +00:00:                                                Time Zone: "" -

[2022-04-09 07:05] Hexagon commented on #408
Migrate your application to  https://github.com/hexagon/croner, it won't get stuck in an Infinite loop, and if it does, we will fix it :)

[2022-04-09 12:48] hirenthinkinfoservices commented on #603
Hello
I have same issue
**Error:**
Error: Something went wrong. cron reached maximum iterations.

Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string

Time Zone: "" - Cron String: 0,30 * * * * * - UTC offset: +05:30 - current Date: Sat Apr 09 2022 02:50:46 GMT+0000

[2022-04-11 19:29] felipemarts opened #604 "Vulnerability in a dependency found"
### Description

**Solution**
Upgrade moment dependency to version 2.29.2 or later

**Impact**
This vulnerability impacts npm (server) users of moment.js, especially if user provided locale string, eg fr is directly used to switch moment locale.

**Patches**
This problem is patched in 2.29.2, and the patch can be applied to all affected versions (from 1.0.1 up until 2.29.1, inclusive).

### Screen

[2022-04-11 20:41] wbt commented on #604
That could also be motivation for releasing the removal of Moment from [this](https://github.com/kelektiv/node-cron/pull/486) PR, as moment is [basically deprecated](https://momentjs.com/docs/).

[2022-04-11 20:44] wbt commented on #402
Hi nbc000gt,

Greetings!  This is just a friendly check-in to see how things are doing with the few changes intended to be rolled into that next release.

[2022-04-15 11:16] kasir-barati commented on #533
@kwypchlo Can you share a simple repo that can/potentially can reproduce bug again.

[2022-04-15 11:16] kasir-barati commented on #529
@GregyFun Can you share a simple repo that can/potentially can reproduce bug again

[2022-04-15 11:17] kasir-barati commented on #527
@go-ananay-nag Can you share a simple repo that can/potentially can reproduce bug again

[2022-04-15 11:17] kasir-barati commented on #526
@denis23x Can you share a simple repo that can/potentially can reproduce bug again

[2022-04-15 11:30] kasir-barati commented on #522
@suruaku Can you give me a script which reproduce/potentially reproduce the same issue?

[2022-04-15 11:30] kasir-barati commented on #508
@katariyamilan Can you give me a script which reproduce/potentially reproduce the same issue?

[2022-04-15 11:31] kasir-barati commented on #470
@mikelam14 Can you give me a script which reproduce/potentially reproduce the same issue?

[2022-04-15 11:32] kasir-barati commented on #467
@pddivine @shivam-postman  Can you give me a script which reproduce/potentially reproduce the same issue?

[2022-04-15 11:47] kwypchlo commented on #533
Sorry but I abandoned using the project due to this issue some time ago, unfortunately I'm not able to provide a reproduction step any more.

[2022-04-15 11:47] #533 closed

[2022-04-18 05:53] NareshKukreti12 opened #605 "Cron function triggering multiple times"
### Description

I have followed the steps defined in the documentation. I have scheduled a cron that is triggering every morning at 10 AM. Though on the local server everything is running perfectly , but after deploying the code on AWS the cron triggering 2 times. Here is my code
`var job2 = new CronJob('00 00 10 * * *', (res) => {
    woStatusCheck();
}, null, false, 'Asia/Kolkata');
job2.start(

[2022-04-18 05:56] NareshKukreti12 commented on #543
Have you resolved this issue @brechtarnou . I am also facing the same issue on AWS.

[2022-04-18 06:00] NareshKukreti12 commented on #543
I am also facing the same. On local server this is working perfectly, but after deploying on AWS the cron triggering twice . I have multiple crons running in the project and each cron is running twice. DON'T know how to resolve this

[2022-04-18 07:05] NareshKukreti12 commented on #421
@ncb000gt  I am also facing the same issue. CRON  is firing twice. Here is my code
`var job2 = new CronJob('00 00 10 * * *', (res) => {
    woStatusCheck();
}, null, false, 'Asia/Kolkata');
job2.start();`

[2022-04-22 08:19] dannysmc95 commented on #604
I am wondering if the project is dead... I think I may take it, add default typescript support and update all the dependencies as I came here with the same issue, but I can't see a fix being pushed anytime soon.

Last commit was over 2 years ago (approx.) and there are 100s of issues that have gone ignored.

[2022-04-24 00:38] intcreator commented on #605
most likely there's something wrong with the way you deployed it. you sure the original job isn't still running? you sure you didn't run the script twice on AWS? deployment problems are probably out of scope for GitHub issues on this project, so unless you can point to a specific bug in the code causing the problem this issue should be closed

[2022-04-24 00:40] intcreator commented on #604
the maintainer left contact info in the README, I reached out on Twitter to see what's up

[2022-04-26 08:26] radosi opened #607 "error: uncaughtException: Something went wrong. cron reached maximum iterations."
Time Zone: "" - Cron String: 0 0,5,10,15,20,25,30,35,40,45,50,55 * * * * - UTC offset: +03:00 - current Date: Tue Apr 26 2022 11:13:48 GMT+0300
    at CronTime._getNextDateFrom (/home/radosi/ppn/admin/backend/node_modules/cron/lib/cron.js:235:12)
    at CronTime.sendAt (/home/radosi/ppn/admin/backend/node_modules/cron/lib/cron.js:156:17)
    at CronTime.getTimeout (/home/radosi/ppn/admin/backend/n

[2022-04-26 08:28] radosi commented on #604
so it is dead or .. I hit a problem too with "Something went wrong. cron reached maximum iterations."

[2022-04-26 14:28] intcreator commented on #604
I'm in contact with the maintainer. since this issue is about fixing vulnerabilities in the dependencies let's focus on that here. over half the open issues look like they mention the "maximum iterations" issue so I think I'll look at that next but on the original thread for that issue.

[2022-04-26 16:47] intcreator commented on #408
the code to remove Moment.js is already removed, so if that's causing the issue it just needs a publish to NPM to fix. if not I can take a look

[2022-04-28 08:47] dannysmc95 commented on #604
I have started working on a TypeScript version of it, that should be easier to maintain, so @intcreator if the owner gets back to you let me know, maybe we can update the project with it.

Either way I shall carry on, just give me a shout, as I would definitely be interested in helping out.

[2022-04-28 16:41] kennycharles opened #608 "Error: Something went wrong. cron reached maximum iterations."
Full ERROR:

Error: Something went wrong. cron reached maximum iterations.
						Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string
						Time Zone: "" - Cron String: 0 0,10,20,30,40,50 * * * * - UTC offset: -04:00 - current Date: Mon Apr 25 2022 16:20:13 GMT+0000
    at CronTime._getNextDateFrom (/root/apps/adew/node_modules/cron/lib/cron.js:

[2022-04-30 17:02] intcreator commented on #604
dependencies are now updated and pushed to NPM. @ncb000gt @felipemarts I think this issue can be closed

[2022-05-02 13:50] AnnAngela opened #611 "Please point out that there is a backward-incompatible change"
### Description

I found out that in V1.8.3, [this library changed it's internal data lib from `moment` to `luxon`](https://github.com/kelektiv/node-cron/commit/36c673b01a57dabbab1c96333a32d6cf3641cf51), and this is a backward-incompatible change.

Please make it clear in readme.md and change the major version number to let peoples know that.

### Screenshots

![QQ截图20220502214812](https://user-im

[2022-05-03 10:37] Zhuull opened #612 "Breaking compatibility when updating from 1.8.2 to 1.8.3"
### Description

Please, make it clear when there is a backward-incompatble change in a minor version

In 1.8.2, this code worked  as intended:

[code]

in 1.8.3 with the same code I got :

[code]

According to the Readme I found that I can Indeed use the code below to fix it but that breaks my script and that is not what we could expect on a minor upgrade

[code]

### Screenshots

_No response_

[2022-05-03 12:22] ncb000gt commented on #611
I deprecated 1.8.3 and released 2.0.0. I thought the `luxon` change had already been released. Sorry about that and thanks for calling it out.

[2022-05-03 12:29] ncb000gt commented on #612
Sorry about that. I must have missed this. It's been a while since I pushed a release. I deprecated 1.8.3 and released 2.0.0 instead. Thanks for calling it out.

[2022-05-03 12:29] #612 closed

[2022-05-03 12:30] #611 closed

[2022-05-03 13:38] btd opened #613 "Where is commits for v2"
### Description

v2 published to npm, but there is no changelog or commits for this version. Can you please publish?

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-03 13:57] ncb000gt commented on #613
Tag and changelog are available now:
https://github.com/kelektiv/node-cron/releases/tag/v2.0.0
https://github.com/kelektiv/node-cron/blob/master/CHANGELOG.md

[2022-05-04 03:07] AnnAngela commented on #611
THX for response!

[2022-05-06 07:22] M4FFS commented on #540
@kaungyeehein that is incorrect, this library has an extra field for seconds which crontab guru does not account for.

Every 10 minutes is `0 */10 * * * *`

[2022-05-06 10:47] Ak-Ajithkumar opened #614 "How to send email for a particular scheduled date and time ? [Schedule Email Feature]"
### Description

I tried cron jobs for scheduling but it gets triggered for each and every day at that particular time.

Also workaround Gmail API for scheduling, but there isn't a feature in Gmail API My requirement is to send a scheduled email for the given time by the user.

Here I'm using Postgresql as DB and for backend Nest.js

Kindly help me to figure out this issue.

### Screenshots

_No r

[2022-05-06 20:58] AbdelrahmanHafez commented on #608
Hello @kennycharles
I actually recently found out about how simple this is.

You simply pass a date object in the future instead of the expression.
[code]

[2022-05-08 07:54] IgnisDa commented on #614
It would be better to use something like Redis with a delayed job for this. Cron is somewhat focused on executing multiple times indefinitely.

[2022-05-09 23:20] zubaroo opened #615 "Uncaught Exception"
Just following requested procedure given by error message. BTW image provided because copy from the error message is disabled and I am not going to type all that out manually. :)

![Uncaught Exception](https://user-images.githubusercontent.com/9393233/167513708-2216c915-7e5d-41f3-8d3b-51eeae08eae6.jpg)

[2022-05-16 14:36] Arlen22 opened #616 "cron reached maximum iterations"
[code]

[code]

[2022-05-18 12:25] noukaza commented on #180
This is still going on

[2022-05-21 18:39] dummy-account-practise commented on #568
Hi! I'm facing the same issue. Will you please help me out how you've resolved it?

Thanks in advance :)

[2022-05-22 13:31] dummy-account-practise opened #617 "Unable to use utcOffset"
### Description

I have a job

[code]

I've also started the job.

I have also tried giving the constructor an object with key-value pairs; cronTime, onTick ...etc etc.

But the utcOffset does not work and I am unable to figure out why. If I use the same job in a scenario that does not require me
to use offset, it works fine.

I am unable to find this in ANY code example except in a couple of git

[2022-05-23 20:51] BertBR commented on #616
There's any solution? I have same problem.

[2022-06-10 15:45] appjitsu opened #618 "TypeError: Cannot read property '_isAMomentObject' of undefined"
### Description

/home/appuser/node_modules/cron/lib/cron.js:42
		if (this.source instanceof Date || this.source._isAMomentObject) {
		                                               ^

TypeError: Cannot read property '_isAMomentObject' of undefined
    at new CronTime (/home/appuser/node_modules/cron/lib/cron.js:42:50)
    at new CronJob (/home/appuser/node_modules/cron/lib/cron.js:565:19)
    at

[2022-06-10 15:53] appjitsu commented on #618
user error ;)

[2022-06-10 15:53] #618 closed

[2022-06-10 16:18] MarcusGV opened #619 "Error: Something went wrong. cron reached maximum iterations."
Hum im just followin the instruccions in the error :)

Please open an  issue (https://github.com/kelektiv/node-cron/issues/new) and provide the following string
Time Zone: "" - Cron String: 0 22 15 * * 1,2,3,4,5 - UTC offset: -05:00 - current Date: Fri Jun 03 2022 15:22:08 GMT-0500
    at CronTime._getNextDateFrom (C:\Cabezut\Back-Cabezut2\node_modules\cron\lib\cron.js:235:12)
    at CronTime.send

[2022-06-11 20:49] mandyGitH commented on #543
@NareshKukreti12 @brechtarnou not sure if you are still facing this issue. I recently ran into this after deploying app to Azure web and resolved the problem by fixing the number of instances - inspired by @davidlane-iteratec's comment. In my case, turned out that the app had been set to default to 5 instances constantly. Reducing to one instance stopped the issue immediately.

Alternatively, if y

[2022-06-20 07:39] TomoyoshiToyoda opened #620 "Error: Something went wrong. cron reached maximum iterations."
Hi, I have an error with your product.
As an error message says, your product will be happy if you check the one out.
I'm afraid this issue is already an existing one, like [this](https://github.com/kelektiv/node-cron/issues/619), though.
[code]

[2022-07-13 11:22] Sampaguitas opened #621 "Error: Something went wrong. cron reached maximum iterations"
Time Zone: "" - Cron String: 0,3,6,9,12,15,18,21,24,27,30,33,36,39,42,45,48,51,54,57 * * * * * - UTC offset: +01:00 - current Date: Wed Jul 13 2022 11:14:17 GMT+0000

[2022-07-13 11:27] Sampaguitas commented on #559
Hi @Amityadavv,

Having the same issue here. I see that you closed this issue: how did you fix it?

[2022-08-03 07:49] DhananjayanSidhan opened #622 "Error: Invalid timezone."
### Description

timezone working only when time-zone is 'local' or 'utc'

	const job = new CronJob(
		'*/5 * * * * *',
		function () {
			const d = new Date();
			console.log(d);
		},
		null,
		true,
		'America/Los_Angeles'
	);

`Error: Invalid timezone.
    at new CT (/home/node_modules/cron/lib/time.js:75:11)
    at new CJ (/home/node_modules/cron/lib/job.js:62:19)
`

### Screenshots

_No respo

[2022-08-08 09:36] YoussefAlmardini opened #623 "How many jobs can i schedule via node-cron?"
Hi all!

I have a question!

For a notification client i want to schedule a job foreach notification i have. When notification is sent, job will be deleted.
But we are talking about 10000 notification or more per week. I wonder if this package can handle that amount of jobs. And where does the package saves the jobs under the hood? I want to make sure that my process will not be stopped because of

[2022-08-15 08:28] ognif opened #624 "Unexpected issues when define cron jobs"
### Description

If I use following cron jobs, the morningjob is not executed and the midnightJob sometimes but not midnight. This happens on a Ubuntu server.
[code]
But if I use following cron jobs on a windows testmachine, everything works perfect.
[code]

I think there is something wrong with the pattern analyse inside the lib.

### Screenshots

_No response_

### Additional information

_No re

[2022-08-15 17:09] vitorbertolucci commented on #556
That is exactly how I do it, but I eventually run into a situation where the job stops completely because `isRunning` never goes false, even though it is set to false on a `finally` case of my try / catch. It is really rare and probably related to some issue on the machine that runs the code.

In any case it would be great if there were a solution for this directly on the library both for preventi

[2022-08-17 06:32] zyf0330 commented on #404
@ncb000gt Hello, I need use this to access class method, and I need to access job self too.
Expect use codes like `const classThis = this` to achieve my need, can node-cron supports to pass custom parameters into `onTick`?

[2022-08-22 14:29] LarsFlieger commented on #594
Can you provide one calling example? Like
[code]

[2022-08-30 16:55] nfodor opened #625 "Bug report. Following report request. Posting cron string."
Time Zone: "" - Cron String: 0 * * * * * - UTC offset: -07:00 - current Date: Tue Aug 30 2022 13:03:14 GMT+0000

[2022-08-30 16:56] nfodor commented on #625
Did update to 2.0.0 which seems fixed.

[2022-08-30 16:56] #625 closed

[2022-09-01 09:43] stephane-ansetech opened #626 "Error: Something went wrong. cron reached maximum iterations"
"" - Cron String: 0 * * * * * - UTC offset: +02:00 - current Date: Thu Sep 01 2022 11:29:32 GMT+0200

[2022-09-02 09:07] michael-azogu commented on #623
they're held in memory as long as the program is running

to see the capacity you can create a mini repo to benchmark what point it starts to break

10k over a week isn't hard.

[2022-09-02 09:11] michael-azogu commented on #620
how many iterations do you think it took to break

[2022-09-05 01:23] TomoyoshiToyoda commented on #620
I guess you're thinking about the probability of recurrence.
It's like below:
- I have had the phenomenon three times ever.
- All three had been seen after 7 or 9 months after starting.
- All three are scheduled ones per minute.

[2022-09-14 09:12] vkbDevelop opened #627 "Error: Something went wrong. cron reached maximum iterations"
Time Zone: "" - Cron String: 0,10,20,30,40,50 * 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23 * * * - UTC offset: +03:00 - current Date: Wed Sep 14 2022 11:02:00 GMT+0300

[2022-09-20 18:38] Hexagon commented on #622
Try https://github.com/hexagon/croner if you want a working alternative 👍

[2022-10-02 14:52] sinmichael commented on #180
This worked for me.

[2022-10-03 12:45] sheepa commented on #171
I've created a pull request to fix usage in browsers. While you can't schedule actual cronjobs its still useful for supporting other stuff like cron format testing, next execution calculation and more. @ncb000gt

[2022-10-11 06:16] taneron commented on #296
I had the same error message.

`und` here stands for `undefined` and this is probably due to dynamic cron definitions.
It happened to me that a cronjob variable was undefined at startup.

`@Cron(`*/${INTERVALL} * * * *`)`
which I simply resolved with adding a fallback value
`@Cron(`*/${INTERVALL || 5} * * * *`)`

[2022-11-14 04:01] narendersaini32 opened #631 "Issue in cron job"
Time Zone: "" - Cron String: 0 0,5,10,15,20,25,30,35,40,45,50,55 * * * * - UTC offset: +00:00 - current Date: Mon Nov 14 2022 03:32:46 GMT+0000
at CronTime._getNextDateFrom (/var/app/current/node_modules/cron/lib/cron.js:235:12)
Nov 14 03:42:37 ip-172-31-31-217 web: at CronTime.sendAt (/var/app/current/node_modules/cron/lib/cron.js:156:17)
Nov 14 03:42:37 ip-172-31-31-217 web: at CronTime.getTimeo

[2022-11-16 20:17] idevchew opened #632 "Something went wrong. cron reached maximum iterations"
My service crashed after a few weeks .....

 Time Zone: "" - Cron String: 0 * * * * * - UTC offset: +01:00 - current Date: Tue Nov 01 2022 14:52:17 GMT+0000
    at CronTime._getNextDateFrom (/home/ec2-user/mpc-base/node_modules/cron/lib/cron.js:235:12)
    at CronTime.sendAt (/home/ec2-user/mpc-base/node_modules/cron/lib/cron.js:156:17)
    at CronTime.getTimeout (/home/ec2-user/mpc-base/node_modu

[2022-11-18 09:08] jeff00seattle opened #634 "onTick may call onComplete at the end of each run. How?"
### Description

- **onTick** - [REQUIRED] - The function to fire at the specified time. If an onComplete callback was provided, onTick will receive it as an argument. **onTick may call onComplete when it has finished its work**.
- **onComplete** - [OPTIONAL] - A function that will fire when the job is stopped with job.stop(), and **may also be called by onTick at the end of each run**.

I have wr